
/*layout of the text boxes*/
textarea {
    resize: none;
    text-align: left;
    background-color: bisque;
    margin-left: 50px;
    margin-top: 40px;
}

/*makes sure everything is centered*/
.text {
    text-align: right;
    margin-right: 20px;
}


/*individual button layout and kerning*/
button {
    background-color: bisque;
    text-align: right;
    margin-left: 20px;
}

/*button block layout and kerning*/
.b {
    text-align: right;
    margin-right: 20px;
}

/*puts all items next to map*/
.words{
    float: left;
}